/*GLOBAL STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
  color: white;

  scroll-behavior: smooth;
}

.interface {
  margin: 0 auto;
  max-width: 1280px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 368px;
  height: 391px;
  box-shadow: 10px 4px 0px var(--main-color);
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

h1 span,
h3 span,
p span {
  color: var(--main-color);
}

.p-format {
  margin: 16px 0;
  max-width: 600px;
  text-align: justify;

  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.line {
  width: 60%;
  margin: 27px auto;
  border: 1px solid var(--line-color);
}
:root {
  --bg-color: #352c22;
  --line-color: #7c4302;
  --main-color: #ff7a00;
  --bg-overlay: rgba(0, 0, 0, 0.5);
  --icon-hover: rgba(255, 255, 255, 0.2);
  --not-icon-hover: rgba(255, 255, 255, 0.09);
}
/*GLOBAL*/

/*HEADER STYLE*/
header {
  background-color: var(--bg-color);
  padding: 16px 4%;
  align-items: center;
  margin-bottom: 42px;
}

header #logo a {
  text-decoration: none;
  color: var(--main-color);
}

/*mobile*/
#open-menu i{
  display: none;
  font-size: 30px;
  color: var(--main-color);
}

#menu-mobile {
  display: none;
  background-color: var(--bg-color);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 0%;
  overflow: hidden;
  transition: .3s;
}

#menu-mobile.its-open{
width: 50%;
}

#menu-mobile.its-open ~ #overlay-menu{
  display: block;
}

#menu-mobile nav ul{
  text-align: right;
  list-style: none;
}

#menu-mobile nav ul li a{
  display: block;
  font-size: 20px;
  padding: 20px 8%;
  text-decoration: none;
  color: white;
}

#menu-mobile nav ul li a:hover{
  background-color: var(--main-color);
}

#menu-mobile .btn-close{
  padding: 20px 8%;
}

#menu-mobile .btn-close i{
  color: var(--main-color);
  font-size: 30px;

}

#overlay-menu{
  background-color: var(--bg-overlay);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}
/*mobile*/

#menu-descktop nav ul {
  list-style: none;

  display: flex;
  gap: 21px;
}

#menu-descktop ul li a {
  text-decoration: none;
  color: white;

  padding: 8px;
  border-radius: 30px;
  transition: background-color 0.3s;
}

#menu-descktop ul li a:hover {
  background-color: var(--main-color);
}
/*HEADER*/

/*MAIN*/
/*my-profile*/
#my-profile {
  padding: 16px 4%;
  align-items: center;
}

#txt-profile {
  margin-top: 32px;
}

#txt-profile #social-links {
  display: flex;
  gap: 8px;
  align-items: center;
}

#txt-profile a {
  color: var(--main-color);
  font-size: 26px;
  padding: 10px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

#txt-profile a:nth-child(2) {
  color: var(--bg-color);
}

#txt-profile a:hover {
  background-color: var(--icon-hover);
}

#txt-profile a:nth-child(2):hover {
  background-color: var(--not-icon-hover);
}

#img-profile #avatar.box {
  border-radius: 50%;

  animation: img-up-down 2.5s infinite ease-in-out;
}

#avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/**/

/*ABOUT*/
#about {
  padding: 16px 4%;
}

#img-about.flex {
  width: 50%;
  justify-content: center;
}

#main-img.box {
  width: 200px;
  box-shadow: 10px 10px 0px var(--main-color);
}

#main-img img {
  width: 100%;
  height: 100%;
}
/**/

/*CONQUEST*/
#conquest {
  padding: 16px 4%;
  text-align: center;
}

#conquest .user-warpper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users-conquest-area {
  background-color: var(--bg-color);
  padding: 4%;
  border-radius: 8px;
}

.users-conquest-area p.p-format {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.user-victory.flex {
  padding: 23px 0;
  max-width: 700px;
  margin: 0 auto;
  justify-content: center;
}

.user-victory .slide {
  margin: 0 auto;
  max-width: 300px;
}

.user-victory .slide img {
  border-radius: 8px;
  width: 100%;
}

  #my-victory {
    margin-top: 32px;
  }
/**/

/*DREAM*/
#dream {
  margin-top: 42px;
  padding: 16px 4%;
}

#img-dream.flex {
  width: 50%;
  justify-content: center;
}

#dream-img.box {
  width: 200px;
  box-shadow: 10px 10px 0px var(--main-color);
}

#dream-img img {
  width: 100%;
  height: 100%;
}
/**/

/*FOOTER*/
footer {
  background-color: black;
  margin-top: 27px;
  padding: 34px;
  text-align: center;
}

footer a {
  color: white;
}
/**/
/*media query*/
@media screen and (max-width: 1100px) {
  /*GLOBAL*/
  .flex {
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }

  h1 {
    text-align: center;
    line-height: 45px;
  }

  #my-profile.flex {
    flex-direction: column-reverse;
  }

  /*HEADER*/
  #open-menu i{
    display: block;
  }
  
  header #interno.flex{
    flex-direction: row;
  }

  #menu-descktop {
    display: none;
  }

  #menu-mobile {
    display: block;
  }

  /*section profile*/
  #my-profile {
    padding: 16px 8%;
  }

  #txt-profile a {
    font-size: 40px;
  }

  /* talvez celular
  #img-profile #avatar.box{
    width: 80%;
    height: 100%;
    box-shadow: 10px 4px 0px var(--main-color);
  }
  */

  #img-profile #avatar {
    margin: 0 auto;
  }

  #social-links {
    justify-content: center;
  }

  /*section about*/
  #about {
    padding: 16px 8%;
  }

  #txt-about {
    margin-top: 32px;
  }

  /*SECTION CONQUEST*/
  #conquest {
    padding: 16px 8%;
  }



  .user-victory.flex {
    gap: 26px;
  }

  /*SECTION DREAM*/
  #dream {
    padding: 16px 8%;
  }
}

/*animation*/
@keyframes img-up-down {
  30% {
    transform: translateY(-10%);
  }
}
